/* CSS */
select {
  /*webkit browsers */
  -webkit-appearance: listbox;
  /*Firefox */
  -moz-appearance: listbox;
  /* modern browsers */
  appearance: listbox;

}

.button-6 {
  margin-right:10px;
  background-color: #FFFFFF;
  border: 2px solid #4299e1;
  border-radius: 48px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  color: #4299e1;
  line-height: 28px;
}

.button-6:hover{
  border-color: #4299e1;
  color: #4299e1;
}

.button-reply{
    float: right;
    margin-right: 10px;
    outline: 0;
    border: 0;
    cursor: pointer;
    background-color: #4299e1;
    border-radius: 48px;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    line-height: 30px;            
}

.button-reply:hover {
  background: #4299e1;
  color: #174ea6;
}

.parent-div {
  justify-content: center;
  align-items: center;
  margin: 10px;
}
